@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* # Colors */

    --snowflake-silk-col: #D1D1D6;
    --smokey-slate-col: #70707B;
    --midnight-ink-col: #1A1A1E;
    --midnight-moss-col: #131316;
    --moonlit-charcoal-col: #51525C;
    --sunset-ember-col: #D92D20;
    --peach-blossom-col: #FDA29B;
    --ruby-red-col: #F044383D;
    --sky-blue-col: #84CAFF;
    --ocean-breeze-col: #2E90FA3D;

    --error-shadow: 0px 0px 0px 4px var(--ruby-red-col);
    --default-shadow: 0px 0px 0px 4px var(--ocean-breeze-col);
  }

  * {
    font-family: "Inter", san-serif;
  }

  input {
    outline: none;
    color: var(--midnight-ink-col);
  }

  input::placeholder {
    color: var(--smokey-slate-col);
  }

  input:disabled {
    color: var(--snowflake-silk-col);
    background-color: white;
  }

  input::placeholder:disabled {
    color: var(--snowflake-silk-col);
  }
}

@layer components {
  /* label container */

  .label-container {
    @apply w-[240px];
  }

  .tooltip__after::after {
    position: absolute;
    @apply bg-midnight-moss;
    width: 12px;
    height: 12px;
    content: '';
    transform: rotate(45deg);
  }
}

@layer utilities {
  .font_size_xs {
    @apply text-xs leading-5;
  }

  .font_size_sm {
    @apply text-sm leading-6;
  }

  /* textfield */
  .textfield_size_xs {
    @apply w-full h-5;
  }

  .textfield_size_sm {
    @apply w-full h-6;
  }

  /* input container */
  .input-container_size_xs {
    @apply py-0.5 px-3;
  }

  .input-container_size_m {
    @apply py-2 px-3;
  }

  .input-container_size_l {
    @apply py-2;
  }

  .input-container_size_xl {
    @apply py-3;
  }

  .input-container_size_l-xl_dir_ltr {
    @apply pr-3 pl-4;
  }

  .input-container_size_l-xl_dir_rtl {
    @apply pr-4 pl-3;
  }

  .input-container_shadow-color_default {
    @apply shadow-focus-ring shadow-ocean-breeze;
  }

  .input-container_shadow-color_error {
    @apply shadow-focus-ring shadow-ruby-red;
  }

  /* tooltip */

  .tooltip__after_pos_left::after {
    @apply bg-midnight-moss;
    position: absolute;
    width: 12px;
    height: 12px;
    content: '';
    top: 50%;
    left: -4px;
    transform: translateY(-50%) rotate(45deg);
  }

  .tooltip__after_pos_right::after {
    @apply bg-midnight-moss;
    position: absolute;
    width: 12px;
    height: 12px;
    content: '';
    transform: rotate(45deg);
    top: 50%;
    right: -4px;
    transform: translateY(-50%) rotate(45deg);
  }

  .tooltip__after_pos_top::after {
    @apply bg-midnight-moss;
    position: absolute;
    width: 12px;
    height: 12px;
    content: '';
    left: 50%;
    top: -4px;
    transform: translateX(-50%) rotate(45deg);
  }

  .tooltip__after_pos_bottom::after {
    @apply bg-midnight-moss;
    position: absolute;
    width: 12px;
    height: 12px;
    content: '';
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%) rotate(45deg);
  }
}
